<h1>Twitter Search</h1>
<hr>
<h2> Dashboard</h2>
<hr>

<center>
<P><%= "No. of unique users tweeting about '#{params[:keyword]}': #{ tweets.map { |x| x.user.screen_name }.uniq.count }" %>
<br>
<%= "No. of tweets : #{ tweets.map { |x| x.text }.count }" %>
<br>
<%= "No. of re-tweets : #{ retweets_count }" %>
<br><br>

<form id="key_return" action="/results" method="post">
  <input type="hidden" value="tweets" name="tweets_retweets">
  <input type="hidden" value= "<%= "#{key}" %>" name="key">
</form>

<button type="submit" form="key_return" class="button"><span>See all tweets</span></button>
</center>
