<h2> Dashboard</h2>

<%= p "No. of unique users tweeting about '#{params[:keyword]}': #{ @@tweets.map { |x| x.user.screen_name }.uniq.count }" %>
<br>
<%= p "No. of tweets : #{ @@tweets.map { |x| x.text }.count }" %>
<br>
<%= p "No. of re-tweets : #{ @@tweets.map { |x| x.text }.count - @@tweets.map { |x| x.text }.uniq.count }" %>
<br>
<p><a href="/results"> Click here </a> to see the tweets </p>
