<center>
	<br><br><br><br><br><br><br><br>
<h1>Twitter Search</h1>

<form action="/" method="POST">
  <input type="text" name="keyword" placeholder="Search here..." required>
	<br>
  <% if !(error_message.empty?) %>
    <p class="p1"><%= "#{error_message}" %></p>
  <% end %>
  <button class="button" type="submit"><span>Search</span></button>
</form>
</center>
