<h2>Results</h2>
<form id="filter1" action="/results/filter" method="post">
	<input type="hidden" value="retweets" name="filterOption">
</form>

<form id="filter2" action="/results/filter" method="post">
	<input type="hidden" value="today" name="filter_option">
</form>

<form id="filter3" action="/results/filter" method="post">
	<input type="hidden" value="last_five_days" name="filter_option">
</form>

<form id="filter4" action="/results/filter" method="post">
	<input type="hidden" value="before_five_days" name="filter_option">
</form>

Filter :
	<button type="submit" class="button" form="filter1"><span>Re-tweets</span></button>
	<div class="dropdown">
  <button class="button">Date</button>
	  <div class="dropdown-content">
			<button type="submit" class="button" form="filter2"><span>Today</span></button>
			<button type="submit" class="button" form="filter3"><span>Last 5 days</span></button>
			<button type="submit" class="button" form="filter4"><span>Before 5 days</span></button>
	  </div>
	</div>

<% @@tweets.each do |tweet| %>
<p><%= p "#{tweet.created_at} #{tweet.user.screen_name} : #{tweet.text} \n" %></p>
<% end %>
